<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>特定区域内的内容向上滚动</title>
    <link rel="stylesheet" type="text/css" href="less/all.css">
    <link rel="stylesheet" type="text/css" href="js/lib/marquee/css/marquee-min.css">
</head>
<body id="J_Roll">
<input type="hidden" id="dispatcher" value="home">
<section class="container">
<header><h3>特定区域内的内容向上滚动</h3></header>
<div class="prize-container">
    <div id="J_Prize" class="prize">
        <ul>
            <li><span class="name">小美小美眉...</span><span class="grade">一等奖</span></li>
            <li><span class="name">abcedabced...</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美3</span><span class="grade">二等奖</span></li>
            <li><span class="name">小美4</span><span class="grade">二等奖</span></li>
            <li><span class="name">小美5</span><span class="grade">三等奖</span></li>
            <li><span class="name">小美6</span><span class="grade">三等奖</span></li>
            <li><span class="name">小美7</span><span class="grade">三等奖</span></li>
            <li><span class="name">小美8</span><span class="grade">三等奖</span></li>
            <li><span class="name">小美9</span><span class="grade">三等奖</span></li>
            <li><span class="name">小美10</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美11</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美12</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美13</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美14</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美15</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美16</span><span class="grade">阳光普照奖</span></li>
            <li><span class="name">小美17</span><span class="grade">阳光普照奖</span></li>
        </ul>
    </div>
</div>
</section>
<script src="js/lib/zepto/zepto.min.js" type="text/javascript"></script>
<script src="js/seajs/sea.js?v=1.0.0" data-config="config.js?v=1.0.0" data-main="main.js?v=1.0.0" id="seajsFile"></script>
</body>
</html>